---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="col-md-12">
<figure class="figure">
<img src="header.jpg" class="img-fluid" alt= "Cover of 1931 Knute Rockne memorial Scholastic football review"></img></figure>
{% include index/description.html %}
</div>
<div class="container">
<div class="row">
<div class="col-sm">
{% include index/time.html %}
</div>
<div class="col-sm"
{% include index/objects.html %}
</div>
<div class="col-sm">

{% include index/data-download.html %}

</div>
</div>
</div>